.header{
    margin-top: 21px;
    margin-left: 137px;
    position: fixed;
    z-index: 100;
    top: 0;
}
a{
    display: inline-block;
}
.home{
    vertical-align: middle;
    vertical-align: middle;
    margin-right: 35px;
    color: #000;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.discovery{
    vertical-align: middle;
    color: #000;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.photo{
    vertical-align: middle;
    margin: 0px 35px;
    color: #000;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.contact{
    vertical-align: middle;
    margin-right: 29PX;
    color: #000;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.surati{
    display: inline-block;
    vertical-align: middle;
}
.sec1{
    margin-top: 131px;
    margin-left: 137px;
    height: 1165px;
    width: 1500px;
}
.satauri{
    width: 120px;
    margin-top: 84px;
    margin-bottom: 54px;
    margin-left: -130px;
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.img1{
    margin-left: 137px;
}
.card {
  
   margin-top: 131px;
   display: inline-block;
   position: relative;
} 
 h2 {
	color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}
.card2 {
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 131px;
    display: inline-block;
    position: relative;
 } 
 .qvemota1{
    display: inline-block;
    position: relative;
    margin-left: 145px;
    width: 362px;
    height: 169px;
    border-radius: 0px 0px 5px 5px;
    background: #FFF;
}
.qvemota{
    display: inline-block;
    position: relative;
    width: 362px;
    height: 169px;
    border-radius: 0px 0px 5px 5px;
    background: #FFF;
}
.shvili{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) ;
}
.p1{
    margin-top: 10px;
    margin-bottom: 10px;
}
p{
    color: #8A8787;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.p2{
    vertical-align: middle;
    display: inline-block;
}
.svg{
    vertical-align: middle;
}
.footer{
    background-color: #243043;
}
.foot-p{
    color: #818687;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.foot-div1{
    margin: 59px 96px 128px 137px ;
    display: inline-block;
}
.foot-div2{
    margin: 59px 118px 128px 0px;
    display: inline-block;
}
.foot-div3{
    display: inline-block;
}
.last-p{
    color: #FFF;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    vertical-align: top;
    display: inline-block;
    margin: 59px 0px 128px 112px;
}
.pics-1{
    margin-right: 45px;
    width: 758px;
    height: 908px;
    margin-left: 138px;
    display: inline-block;
}
.pics-2{
    vertical-align: top;
    display: inline-block;
}
.img2{
    margin-bottom: 48px;
    display: block;
}
.img3{
    display: block;
}
.img4{
    margin: 103px 0px;
    display: block;
}
.img5{
    display: block;
}
.sec-2Card{
 position: relative;
}